# Server Port
PORT=5000

# SMTP Server Configurations
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false

# Sender Account Credentials
SMTP_USER=deva260706@gmail.com
SMTP_PASS=your_app_password_here

# Destination Email Address
RECEIVER_EMAIL=deva260706@gmail.com
